# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# Node
node_modules/

# Expo
.expo/

# Android
android/app/build/

# iOS
ios/build/

# Logs
*.log

# Environment
.env
.env.*

# Build
dist/
build/

# Misc
coverage/